# Sample workflow for building and deploying a Next.js site to GitHub Pages
#
# To get started with Next.js see: https://nextjs.org/docs/getting-started
#
name: Deploy Next.js site to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ['main']

 
jobs:
  # Build job
  build:
    name: Build Nextjs PT Blog
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install NPM dependencies
        run: npm install
      - name: Build contenlayer 
        run: npx contentlayer build
      - name: Build project assets
        run: npm run build